.details-form h1{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}